*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: 1.7fr 5fr/ 1fr 4fr;
    border: 5px solid gray;
    height: 100vh;
    grid-template-areas: "sidebar header header header"
                        "sidebar main main mian"
}

/* Header */

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-area: header;
    padding: 0 40px;
    padding-top: 10px;
    background-color: #fafafa;
}

/* Upper cotent of header */

.upper-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-search {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.header-search > input {
    flex: 1;
    margin-right: 100px;
    border: none;
    border-radius: 20px;
    background-color: #d1d5db;
    height: 1.3rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.header-extras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-extras > img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
} 

.header-extras > p {
    font-size: 1.3rem;
    font-weight: 500;
}

/* Lower content of header */

.lower-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.lower-header-main {
    display: flex;
    align-items: center;
    gap: 15px;
}

.lower-header-main > img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.lower-header-main p {
    font-weight: 500;
}

.lower-header-main p:last-child {
    font-size: 1.4rem;
    padding-top: 0.5rem;
}

.lower-header-buttons {
display: grid;
grid-template-columns: repeat(3,1fr);
align-items: center;
gap: 30px;
}

.lower-header-buttons button {
    background-color: #0ea5e9;
    width: 6rem;
    height: 2rem;
    color: #f0f9ff;
    border: none;
    border-radius: 32px;
    font-size: 1rem;
    font-weight: 400;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 80px 300px 1fr;
    background-color: #0ea5e9;
}

.dashboard {
    display: flex;
    align-items: center;
    padding: 10px;
}

.dashboard > svg {
    width: 3rem;
    height: 3rem;
    fill: #f8fafc;
}

.dashboard >p {
    color: #f8fafc;
    font-size: 1.4rem;
}

.sidebar-content > li {
    color: #f8fafc;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}


.sidebar-content svg {
    fill: #f8fafc;
}

/* Main Content */

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    background-color: #d1d5db;
    padding-bottom: 40px;
}

.projects {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-column: 1 / 2;
    padding: 0 10px;
}

.main-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.projects > .text {
    grid-row: 1;
}

.main-content{
    background-color: #f8fafc;
    border-radius: 10px;
    padding: 20px;
    font-weight: 300;
    font-size: 0.85rem;
    border-left: 8px solid #eab308;
    box-shadow: 5px 5px 5px #9ca3af;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.main-content > div{
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: end;
}

 /* Annoucements */

.rightside-content {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    grid-template-areas: "annoucement-text"
                         ""
}

.announcement-text {
    margin-left: 20px;
}

.announcement {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 0.7rem;
    font-weight: 300;
    margin-left: 20px;
    background-color: #f8fafc;
    box-shadow: 5px 5px 5px #9ca3af;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 20px 20px;
    min-width: 250px;
}

.announcement > div:not(:last-child) {
    border-bottom: 1px solid #71717a;
}


.announcement > div {
    padding-top: 15px;
}

/* Trending */

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #f8fafc;
    box-shadow: 5px 5px 5px #9ca3af;
    border-radius: 10px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.trending > div {
    display: flex;
}

.trending > div >img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
} 