*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 2fr 1fr 5fr 1fr 1fr/ 1fr 4fr;
    border: 5px solid gray;
    height: 100vh;
    gap: 5px;
    grid-template-areas: "sidebar header header header"
                        "sidebar main main mian"
                        "sidebar main main mian"
                        "sidebar main main mian"
                        "sidebar footer footer footer";
}

.container > div {
    border: 3px dashed black;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-area: header;
}

.upper-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.upper-content > div:nth-child(2) {
    display: flex;
    justify-content: end;
}

.header-search {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.header-search > input {
    flex: 1;
    margin-right: 10px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px 300px 1fr;
}

.sidebar > * {
    border: 5px solid blue;
   }
   

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.main > * {
    border: 5px solid red;
}

.footer {
    grid-area: footer;
}